body {
  background-color: rgb(65, 139, 239);
}

#nome {
  font-family: 'Newsreader', serif;
  text-align: center;
}

#image {
  display: inline-block;
}

.description {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  width: 500px;
  margin-left: 100px;
}

#habilidades {
  font-family: 'Newsreader';
  font-weight: bold;
}

#blogs {
 font-size: 18px;
}